$primary-color-500: hsl(240, 100%, 50%) !default;
$primary-color-600: hsl(240, 100%, 40%) !default;
$primary-color-700: hsl(240, 100%, 30%) !default;
$color-white: white !default;

$transition: all 0.3s ease-in-out;
