@use '../../../Assets/scss/utils/index' as *;

.btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 16px 32px;
  background-color: transparent;
  border: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  transition: $transition;
  cursor: pointer;

  &__primary {
    background-color: $color-primary-500;
    color: $color-white;

    &:hover {
      background-color: $color-primary-600;
    }
    &:active {
      background-color: $color-primary-700;
    }
    &:focus-within,
    &:focus {
      // border-color: blue;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #dde6fa;
      outline: none;
    }
  }
}
