$color-primary-500: hsl(240, 100%, 50%) !default;
$color-primary-600: hsl(240, 100%, 40%) !default;
$color-primary-700: hsl(240, 100%, 30%) !default;
$color-white: white !default;

$transition: all 0.3s ease-in-out;
